.mission-profile {
  padding: 2rem;
  margin: 10px;
  border-radius: 10px;
  font-size: 1.6em;
}
.mission-profile > summary {
  cursor: pointer;
  list-style: none;
  text-align: center;
}
.mission-title {
  font-size: 3rem;
}

.mission-profile-nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 2.4rem;
}

.mission-profile-nav a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 10px;
  color: inherit;
}

.mission-profile-nav a:hover {
  background-color: #d0d6f9;
  color: #0b0d17;
}
