.main {
  background-image: url('./assets/background-technology-desktop.jpg');
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main >h1 {
  text-align: center;
  font-size: 4rem;
  margin: 20px;
}

.interaction-wrapper {
  display: flex;
  margin: 10px;

}
.filter-wrap {
  width: 50%;
  font-size: 2rem;
}
.filter-wrap > input {
  width: 100%;
  font-size: 2rem;
}

.sort-wrap {
  width: 50%;
  font-size: 2rem;
}

.sort-wrap > button {
  width: 100%;
  background-color: black;
  border-radius: 10px;
}


